<div data-controller="nested-form">
  <%= form_with model: bill, class: 'col-4' do |f| %>
    <div id="errors"></div>

    <div class="mb-4">
      <%= f.label :description, class: 'form-label' %>
      <%= f.text_field :description, placeholder: 'Mimino', class: 'form-control' %>
    </div>

    <div class="mb-4">
      <%= f.label :payer_name, class: 'form-label' %>
      <%= f.text_field :payer_name, value: current_user.name, class: 'form-control' %>
    </div>

    <div class="mb-4">
      <%= f.label :total, class: 'form-label' %>
      <%= f.text_field :total, class: 'form-control' %>
    </div>

    <template data-nested-form-target='template'>
      <%= f.fields_for :line_items, LineItem.new, child_index: 'TEMPLATE_RECORD' do |l| %>
        <%= render 'line_items/line_item_fields', form: l %>
      <% end %>
    </template>

    <div class="mb-4">
      <%= f.fields_for :line_items do |l| %>
        <%= render 'line_items/line_item_fields', form: l %>
      <% end %>
    </div>

    <div data-nested-form-target="add_item">
      <%= link_to "Add Item", "#", data: { action: "nested-form#add_association" } %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>
  